.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 30px;
    align-items: center;
    margin: 1.5em;
}

.product_card {
    border: 1px solid rgba(0, 0, 0, 0.5);
    padding: 1em;
    border-radius: 8px;
    transition: transform 100ms ease-in-out;
    box-shadow: 5px 8px 5px #00000048;
    background-color: #fff;
}

.product_card:hover {
    transform: scale(1.05);
}

#button_car {
    margin-top: 1em;
    background-color: #FF0000;
    font-weight: bold;
}

.card_infos {
    padding: 1em;
    border-top: 1px solid #c2bfbf;
}

.container_card {
    flex-direction: column;
}

.descricao {
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
}

.valor {
    font-weight: bold;
    font-size: 1.5em;
}

.info {
    font-size: 0.8em;
    font-weight: 800;
}

.icon_car {
    display: flex;
    align-items: center;
}

.icon_car ion-icon{
    font-size: 16px;
    --ionicon-stroke-width: 36px;
    background-color: #fff;
    color: #000;
    padding: 0.3em;
    border-radius: 8px;
    margin-right: 1em;
}

.container .button_car {
    font-weight: bold;
}