.product-card {
    background-color: white;
    cursor: pointer;
    border-color: #4e4444;
    border: 2px solid rgb(136, 136, 136);
    border-radius: 20px;
}

.card__image {
    width: 500px;
    height: 300px;
    border-radius: 20px;
}

.card__infos {
    padding: 20px;
    border-top: 1px solid #c2bfbf;
}

.card__title {
    font-size: 20px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    font-weight: 500px;
}

.descricao {
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.valor {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}

.id {
    font-weight: bold;
}

.stock {
    font-weight: bold;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 30px;
    align-items: center;
}