.hearder {
    background-color: #000000;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.hearder  .container_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

img {
    width: 200px;
    height: 100px;
}